<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.project.member.mapper.MemberDataMapper">
	<select id="idChk" resultType="int">
		select count(*) from camper where member_id = #{member_id}
	</select>
	
	<select id="join" resultType="_int">
		select count(*) from camper where member_id = #{member_id} and member_pwd = #{member_pwd} and member_type in (#{member_type} , 2) 
	</select>
	
	<select id="isPermit" resultType="int">
		select count(*) from camper where member_id = #{member_id} and permit = 1
	</select>
	
	<insert id="signin">
		insert into camper 
		<choose>
			<when test="member_type == 0">
				(member_id, member_pwd, member_type, member_name, email, birthday, post, addr1, addr2, tel) 
				values (#{member_id}, #{member_pwd}, #{member_type}, #{member_name}, #{email}, #{birthday}, #{post}, #{addr1}, #{addr2}, #{tel})	
			</when>
			<otherwise>
			   (member_id, member_pwd, member_name, camp, email, member_type, permit)
			   values (#{member_id}, #{member_pwd}, #{member_name}, #{camp}, #{email}, #{member_type}, #{permit})
			</otherwise>
		</choose>
		
	</insert>
	
	<select id="findid" resultType="String">
		select member_id from camper where member_name = #{member_name} and tel = #{tel}	
	</select>
	
	<select id="findpw" resultType="int">
		select count(*) from camper where member_id = #{member_id} and email = #{email}	
	</select>
	
	<select id="getMembers" resultType="com.spring.project.member.DTO.MemberVO">
		SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
				    select * from camper
				    	where member_type = #{member_type}
				    	<if test='member_name != null &amp;&amp; !member_name.equals("")'>
				    		and member_name like '%${member_name}%'
				    	</if>
				    	<if test='member_id != null &amp;&amp; !member_id.equals("")'>
				    		and member_id like '%${member_id}%'
				    	</if>
				    	<if test='permit != null'>
				    		and permit = #{permit}
				    	</if>
				    	
				    ) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="MemberCnt" resultType="int">
		select count(*) from camper where member_type = #{member_type}
		<if test='member_name != null &amp;&amp; !member_name.equals("")'>
    		and member_name like '%${member_name}%'
    	</if>
    	<if test='member_id != null &amp;&amp; !member_id.equals("")'>
    		and member_id like '%${member_id}%'
    	</if>
    	<if test='permit != null'>
    		and permit = #{permit}
    	</if>
	</select>
	
	<update id="permitting">
		update camper set permit = 1 where member_id = #{member_id} and permit = 0
	</update>
</mapper>