.min-vh-30 {
    min-height: 30vh !important; }

.min-vh-40 {
    min-height: 40vh !important; }

.min-vh-70 {
    min-height: 70vh !important; }

.min-vh-80 {
    min-height: 80vh !important; }

a {color: black; text-decoration: none; outline: none}
a:hover, a:active {text-decoration: none; color:red;}

.w1280{
    width: 80%;
}

.w100p{
	max-width: 300px;
	width:100%;
}

.flex_1{
	width: 100%;
	display: flex;
	
	justify-content: space-between;
}

.header-style{
	padding-bottom: 1.75rem;
}

.flex-center{
	display: flex;
    justify-content: center;
}

.select_text{
	width: 70%;
}

.obj_row_center{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.obj_row_bottom{
    display: flex;
    align-items: flex-end;
}

.h2_size{
    color: rgba(red, green, blue, alpha);
}

.text-center{
    min-height: auto;
}

.bgc_color_box{
    background-color: #FFFFEF;
    z-index: 2;
}


.boders > *{
	border: solid 1px black;
}

.carosuel-title {
	width: 450px;
	height: 40px;
	background-color:
	black;
	overflow: hidden;
	max-width: 100%;
}

.map{
	display: flex;
  	justify-content: center;
}

/* borad */
.form_box {
    background-color: #ffffff;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
}
.input_field {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
}
.textarea_field {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    margin: 3px 0;
    font-size: 14px;
    width: 100%;
    height: 160px;
}
.write_button {
    background-color: #475d9f;
    border: 1px solid #323f6b;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 8px;
    font-soze: 18px;
}
/* borad */


/* img content*/
.content01_wrap{
	display: flex;
}

.bgc_box{
	position: relative;
	width : 30%;
	
	z-index : 2;
	background-color :  #FFFFEF; 
	
	left:-20px;
	
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgc_box_size{
	width: 200px;
	margin-left: 40px
}

/* new carousel */
.img_boxs{
	z-index: 1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}


.inner_hr_max{
	width: 100%;
}

.inner_content{
	padding: 5%;
	padding-top: 2%;
}

.intro_text > p{
	padding-top: 5%;
}

.table_td{
	padding-right: 30px;
}

.tab_margin{
	margin-top: 5%;
	margin-bottom: 5%;  
}

/* review */
.day{
	border: 1px solid;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    background-color: white;
    top: -10px;
    max-width: 70%;
    left: -5%;
}

.review_img_box{
	padding-bottom: 5%;
}

.img{
	width: 90%;
}

.review_text_box{
	
}
.date_text{
	font-size: 1.5rem;
}

.review_viewer{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.viewer{
	width: 20%;
    border: 1px solid;
	margin: 5%;
}

.page_number{
	display: flex;
    justify-content: center;
}

.page_numbering{
	border: 1px solid;
    border-radius: 50%;
    min-width: 1.6rem;
}

.page_btn{
	padding-left: 10px;
	padding-right: 10px;
}











