.dropdown{
    position : relative;
    display : inline-block;
  }
  
  .dropbtn{
    border : 1px solid rgb(37, 37, 37);
    border-radius : 4px;
    background-color: #f5f5f5;
    font-weight: 400;
    color : rgb(37, 37, 37);
    padding : 12px;
    width :200px;
    text-align: left;
    cursor : pointer;
    font-size : 12px;
  }
  .dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #f9f9f9;
    min-width : 200px;
  }
  
  .dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 12px 20px;
  }
  .all{
      cursor :pointer;
  }
  .dropdown-content a:hover{
    background-color : #ececec
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
#dropdownS{   
    padding: none;
    margin: none;
    text-align: center;    
}
@media (min-width: 991.98px) {
    #dropdownS{
        top: 95%;
    }
}
.dropdown-menu {
    min-width:10px;
  }
#dropdownS>a:hover{
    color: black;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu{
	background: rgba(255,255,255,0);	
}
.dropdown-item{
	color:#fff;
}
.dropdownd{
	background: #fff !important;
	color:black !important;
}
.dropdownn{
	background:#1a1a40 !important;
	color:#fff !important;
}