.darkmodeSection, 
.darkmodeDiv,
/* .pagination > .active, */
.pagination > li > a:focus,
.pagination > li > span:focus
/* .pagination > li > span:hover */
 {
	background: #202124 !important;
	border-color: #D6D6D7 !important;
}
.pagination > li > a:hover {
	background-color: transparent;
}

.darkmodeFont {
	color: #D6D6D7 !important;
}
