@charset "EUC-KR";


a, a:hover {
	color: black !important;
	text-decoration: none !important;
}

li {
	list-style: none !important;
}

/* bootstrap css 수정 */
.container-lg {
	padding: 0 0 30px 0 !important;
}

.pagination {
	justify-content: center !important;
	padding-top: 50px !important;
}

.page-link {
	border: none !important;
	color: #dee2e6 !important;
}

.page-item.active .page-link, .page-link:hover {
	color: black !important;
	background: #ffffff  !important;
}

.nav-link, .nav-link:hover {
	color: black !important;
}

.form-select:disabled {
	background: #ffffff !important;
}
/* custom 클래스 css */

.wrap {
	padding: 0 10px !important;
}

.arrow {
	color: black !important;
}

.more-row{
	position: relative !important;
}

.more-col {
	position: absolute !important;
	visibility: hidden !important;
	opacity : 0 !important;
	z-index: 10 !important;	
	left: 0 !important;
	top: 10px !important;
}

.moreThem {
	background: #ffffff !important;
	border: 1px solid #dee2e6 !important;
	text-overflow: clip !important;
}

#tag {
	padding: 1px !important;
}

#tags {
	display: flex !important;
	flex-wrap: wrap !important;
}


.bb {		
	border-bottom: 3px solid black !important;
}

.lbb {
	border-bottom: 1px solid #dee2e6 !important;
}

.sub_title {
	text-align: center !important;
	padding-top: 150px !important;
}

.tit {
	font-size: 18px !important;
    letter-spacing: 14px !important;
    font-family: Lato-Bold !important;
    color: #000 !important;
}

.submitBtn {
	text-align: center !important;
}

.more-close {
	text-align: right !important;
}

.more-sub {
	text-align: center !important;
}

@media screen and (min-width: 768px) and (max-width: 1200px) { 
	.container-lg {
		width: 1140px !important;
  		max-width: none !important;
	} 
}

 @media 
 screen and (min-width: 768px) and (max-width: 1200px) { 
    .container-lg {
        width: 1140px !important;
          max-width: none !important;
    } 
}
 a, a:hover {
    color: black !important;
    text-decoration: none !important;
}

li {
    list-style: none !important;
}


.container-lg {
    padding: 0 0 30px 0 !important;
}

.pagination {
    justify-content: center !important;
    padding-top: 50px !important;
}

.page-link {
    border: none !important;
    color: #dee2e6 !important;
}

.page-item.active .page-link, .page-link:hover {
    color: black !important;
    background: #ffffff  !important;
}

.nav-link, .nav-link:hover {
    color: black !important;
}

.form-select:disabled {
    background: #ffffff !important;
}


.wrap {
    padding: 0 10px !important;
}

.arrow {
    color: black !important;
}
 .main{
 	min-height: 100%;
    overflow-x: hidden;
    width: 100%;
    display: block;
    margin: 0 auto;
    
 }
 
 .member{
 	background: #fff;
    max-width: 76.8rem;
    margin: 0 auto;
 }
 
 .name {
 	padding: 3rem 2rem 2rem;
    background: #fff;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid black;
 }
 
 .name-img{
 	width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #aaa url(//yaimg.yanolja.com/joy/sunny/static/images/ico-profile-dummy.svg);
    margin: 0 auto;
    display: block;
    border-style: none;
}
 
 .atag{
 	color: #000;
 	user-select: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    cursor: pointer;
    background-color: transparent;
 }
 .nick-name {
	 text-align: center;
    margin-top: 2rem;
    position: relative;
    margin: 0;
    padding: 0;
 }
 
 
 .nick-name>span{
 	font-size: 1.5rem;
    color: #2e2e2e;
    font-weight: 700;
 }
 
.e-mail{
	text-align: center;
    font-size: 1rem;
    color: #919191;
    margin-top: 0.1rem;
    margin: 0;
    padding: 0;

}
.info {
	padding: 0 2rem;
    background: #fff;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid black;
}

.info-h2{
	font-size: 1.5rem;
    font-weight: 700;
    color: #2e2e2e;
    padding: 2.1rem 0;
    border-bottom: 1px solid #ddd;
}

.id-box {
	position: relative;
	display:flex;
}

.id {
	display: inline-block;
    width: 7rem;
    font-size: 1.4rem;
    color: #616161;
    font-weight: 300;
    padding: 1.75rem 0;
    vertical-align: top;
}
.r-id{
	position: relative;
    display: inline-block;
    width: calc(100% - 7.5rem);
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: #2e2e2e;
    padding: 1.75rem 0;
}
.modify{
	position: absolute;
    font-size: 1.2rem;
    color: #0152cc;
    right: 0;
    top: 0;
    border: none;
    background: none;
    padding: 1.75rem 0 1.75rem 1rem;
}
.withdraw{
	display: block;
    position: relative;
    cursor: pointer;
}

.withdraw>span {
	display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 700;
    color: #2e2e2e;
}

.item-container {
	padding: 30px 0;
	margin: 0;
	border: 1px solid black;
	font: inherit;
    box-sizing: border-box;
    display: block;
}
.item-wrap {
	margin-bottom: 30px;
}
.header {
	display: flex;
    padding: 0 20px;
}
svg {
	overflow:hidden;
}
.extra {
	flex: 1 1 auto;
}
.avatar {
	flex: 0 0 38px;
    display: flex;
    align-items: center;
    margin-right: 14px;
}
.header .extra>div[data-v-a09cfc0c] {
    line-height: 18px;
}
.header .extra .meta{
	display: flex;
    align-items: center;
}
.header .extra .meta>.score{
	flex: 0 0 42px;
    margin-top: -2px;
}
.container1{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .ico {
	margin-right: 2px;
	display: inline-block;
    background: url(https://https://assets.yanolja.com/50067aa09286b37af1b0f621401811a69cd649d4/202203241614/f7da23f375fc4c467170a18d3d313dbb.svg) 50%/contain no-repeat;
}
.header .extra .meta>.badge[data-v-a09cfc0c] {
    margin-left: 8px;
    font-size: 12px;
    font-weight: 700;
    color: #08a3a1;
}	
.header .extra .meta>time[data-v-a09cfc0c] {
    font-size: 12px;
    margin-left: auto;
    color: #919191;
}
.header .extra .profile[data-v-a09cfc0c] {
    padding-top: 2px;
    font-size: 12px;
    color: #919191;
}
.content-wrap {
	padding: 12px 20px;
}
.content-wrap>.content[data-v-a09cfc0c] {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #616161;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.image-container[data-v-a09cfc0c] {
    position: relative;
    padding-bottom: 12px;
    width: 100%;
    height: 132px;
}
.image-container>ul {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0 20px;
    overflow: hidden;
    overflow-x: scroll;
    margin: 0;
    list-style: none;
    position: relative;
}
.image-container>ul>li {
    flex: 0 0 200px;
    display: list-item;
    text-align: -webkit-match-parent;
    
}
.image-container>ul>li .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
}
.image-container>ul>li:not(:first-child) {
    margin-left: 10px;
}
.comment-wrap {
    padding: 20px 20px 12px;
}
.box[data-v-70e1a9ba] {
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 16px 20px;
}
.box .header[data-v-70e1a9ba] {
    display: flex;
    line-height: 22px;
}
.box .header>h4[data-v-70e1a9ba] {
    font-size: 14px;
    font-weight: 700;
    color: #1a1a1a;
}
.box .header time[data-v-70e1a9ba] {
    margin-left: auto;
    font-size: 12px;
    color: #919191;
}
.box .content-wrap[data-v-70e1a9ba] {
    margin-top: 4px;
}
.box .content-wrap>.content.clamp[data-v-70e1a9ba] {
    max-height: 80px;
    overflow: hidden;
}
.box .content-wrap>.content[data-v-70e1a9ba] {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #616161;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.box .content-wrap>.content>.more-btn[data-v-70e1a9ba] {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    box-shadow: -15px 0 10px 0 #f2f2f2;
    color: #0152cc;
}
.item-container>.item-wrap .divider[data-v-2efac8a3] {
    margin-top: 30px;
}
.divider[data-v-2efac8a3] {
    margin: 0 20px;
    border-bottom: 1px solid #e6e6e6;
}