<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.project.comment.mapper.CommentDataMapper">

	<select id="getComments" resultType="com.spring.project.comment.DTO.CommentVO">
		SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
				    select * from comments
				    ) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="CommentCnt" resultType="int">
		select count(*) from comments
	</select>
	
	<update id="blind">
		update comments set member_id = #{member_id}, comments = #{blindComment}, blind = #{blind} 
		where comment_id = #{comment_id} and blind = 'false'
	</update>

	<insert id="addComment">
	<selectKey keyProperty="comment_id" resultType="_integer" order="BEFORE">
    	SELECT comment_id_seq.nextval FROM dual
	</selectKey>
		INSERT INTO 
			comments (
				comment_id, post_id, category_id, comments, classnum, ordernum, groupnum, decl, views, member_id, blind 
			) 
		VALUES (
			#{comment_id}, #{post_id}, #{category_id}, #{comments}, #{classnum}, #{ordernum}, 
			<choose>
			<when test="groupnum eq null">
			#{comment_id}
			</when>
			<otherwise>
			#{groupnum} 
			</otherwise>
			</choose>, 0, 0, #{member_id}, 'false'
		)
	</insert>
	<delete id="deleteComment">
		DELETE FROM comments WHERE comment_id = #{commentId}
	</delete>
	
	<update id="commentReport">
		UPDATE comments SET decl = #{reportNum} WHERE comment_id = #{commentId}
	</update>
	<select id="getCommentReport" resultType="_integer">
		SELECT decl FROM comments WHERE comment_id = #{commentId}
	</select>
</mapper>