<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.project.post.mapper.PostXMLMapper">
	<select id="getCount" resultType="_integer">
		SELECT 
			count(*) FROM post 
		WHERE 
			board_class = #{board_class}
		<if test='category gt 1'>
		AND
			contents_category = #{category}
		</if>
		<if test="searchKeyword != null">
		<choose>
		<when test="'all'.equals(searchByWhat)">
		AND
			(contents LIKE '%'||#{searchKeyword}||'%' OR title LIKE '%'||#{searchKeyword}||'%')
		</when>
		<when test="'contents'.equals(searchByWhat) or 'title'.equals(searchByWhat)">
		AND
			${searchByWhat} LIKE '%'||#{searchKeyword}||'%'
		</when>
		</choose>
		</if>
	</select>
	
	<select id="getPostList" resultType="com.spring.project.post.dto.PostVO">
		SELECT 
			post.rownumber, post.post_id,  post.member_id, post.title, post.contents, to_char(post.reg_date, 'yyyy. MM. dd.'), 
			post.board_class, post.contents_category, post.process, post.imgurl, post.views
		FROM 
			(
				SELECT 
					rownum as rownumber, post_id, member_id, title, contents, reg_date, 
					board_class, contents_category, process, imgurl, views
				FROM 
					post
				WHERE
					board_class = #{search.board_class}
				<if test='search.category gt 1'>
				AND
					contents_category = #{search.category}
				</if>
			) 
			post
		WHERE
			<!-- Paging -->
			post.rownumber BETWEEN #{pvo.start} AND #{pvo.end}
		ORDER 
			BY post.rownumber DESC
	</select>
	
	<select id="getPostSearch" resultType="com.spring.project.post.dto.PostVO" parameterType="com.spring.project.post.dto.SearchVO">
		SELECT 
			post.rownumber, post.post_id,  post.member_id, post.title, post.contents,to_char(post.reg_date, 'yyyy. MM. dd.'), 
			post.board_class, post.contents_category, post.process, post.imgurl, post.views
		FROM 
			(
				SELECT 
					rownum as rownumber, post_id, member_id, title, contents, reg_date, 
					board_class, contents_category, process, imgurl, views
				FROM 
					post
				WHERE
					board_class = #{search.board_class}
				<choose>
				<when test="'all'.equals(search.searchByWhat)">
				AND
					(contents LIKE '%'||#{search.searchKeyword}||'%' OR title LIKE '%'||#{search.searchKeyword}||'%')
				</when>
				<when test="'contents'.equals(search.searchByWhat) or 'title'.equals(search.searchByWhat)">
				AND
					${search.searchByWhat} LIKE '%'||#{search.searchKeyword}||'%'
				</when>
				</choose>
				<if test='search.category gt 1'>
				AND
					contents_category = #{search.category}
				</if>
			) 
			post
		WHERE
			<!-- Paging -->
			post.rownumber BETWEEN #{pvo.start} AND #{pvo.end}
		ORDER BY 
			post.rownumber DESC
	</select>
	
	<!-- mainContents -->
	<select id="getContents" resultType="com.spring.project.post.dto.PostVO">
		SELECT 
			post.rownumber, post.post_id,  post.member_id, post.title, post.contents,to_char(post.reg_date, 'yyyy. MM. dd.'), 
			post.board_class, post.contents_category, post.process, post.imgurl, post.views
		FROM 
			(
				SELECT 
					rownum as rownumber, post_id, member_id, title, contents, reg_date, 
					board_class, contents_category, process, imgurl, views
				FROM 
					post
			) 
			post
		WHERE
			post.post_id = #{post_id}
	</select>
	<delete id="deletePost">
		DELETE FROM post WHERE post_id = #{post_id}
	</delete>
	
	<update id="increaseViews">
		UPDATE post SET views = #{post.views} WHERE post_id = #{post.post_id} 
	</update>
	
	<!-- Comments -->
	<select id="getComments" resultType="com.spring.project.post.dto.CommentVO">
		SELECT * FROM comments WHERE post_id = #{post_id} AND category_id = #{board_class}
	</select>
	<select id="getCommentsEA" resultType="_integer">
		SELECT count(*) FROM comments WHERE post_id = #{post_id}
	</select>
	
	<!-- addPost -->
	<insert id="addPost">
		<selectKey keyProperty="post_id" resultType="_integer" order="BEFORE">
    		SELECT post_id_seq.nextval FROM dual
		</selectKey>
			INSERT INTO 
				post 
			(post_id, member_id, title, contents, reg_date, board_class, contents_category, process, imgurl, views)
			VALUES (
				#{post_id}, #{member_id}, #{title}, #{contents}, sysdate, 
				#{board_class}, #{contents_category}, #{process}, null, 0
			)
	</insert>
	<update id="editPost">
		UPDATE post
		SET
			title = #{title},
			contents = #{contents}
		WHERE
			post_id = #{post_id}
	</update>
	
	<select id="getIndividual" resultType="com.spring.project.post.dto.PostVO">
		SELECT * FROM post WHERE member_id = #{id}
	</select>
	
	<!-- Report -->
	<update id="addReport">
		UPDATE post
		SET
			decl = #{report}
		WHERE
			post_id = #{post_id}
	</update>
	<select id="getReport" resultType="_integer">
		SELECT decl FROM post WHERE post_id = #{post_id}
	</select>
</mapper>














