@charset "EUC-KR";

/* 공통 */
<<<<<<< HEAD
=======
.comment_icon {
	cursor: pointer;
}
>>>>>>> refs/heads/jang

p, div {
	margin: 0px;
	padding: 0px;
}

<<<<<<< HEAD
.userId, .contentsTitle {
=======
/* #id {
>>>>>>> refs/heads/jang
	cursor: pointer;
} */

/* Free Board */

.paragraph_body {
	min-height: 300px;
}

<<<<<<< HEAD
=======


#co_comment {
	display: none;
}

>>>>>>> refs/heads/jang
.card-body, .card-footer {
	padding: 0px;
}

.card-body p {
	width: 100%; 
	overflow: hidden; 
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
  	-webkit-box-orient: vertical;

}
<<<<<<< HEAD
=======


/* Support Page */
>>>>>>> refs/heads/jang
