@charset "EUC-KR";

/* °øÅë */

p, div {
	margin: 0px;
	padding: 0px;
}

.pointer {
	cursor: pointer;
}


/* Free Board */

.paragraph_body {
	min-height: 300px;
}

.card-body, .card-footer {
	padding: 0px;
}

.card-body p {
	width: 100%; 
	overflow: hidden; 
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
  	-webkit-box-orient: vertical;

}

.b {
	border: solid 1px black;
}

.ck-editor__editable {
    min-height: 500px;
}